@implements IDisposable
@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TheSkyMarket</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <!-- Administrador -->
        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="section-title px-3 mt-3 text-white">Aviones</div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Aviones/AvionesCreate">
                        <span class="bi bi-plus-circle-fill" aria-hidden="true"></span> Registrar aviones
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Aviones/AvionesIndex">
                        <span class="bi bi-search" aria-hidden="true"></span> Consultar aviones
                    </NavLink>
                </div>

                <div class="section-title px-3 mt-3 text-white">Categorías</div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Categoria/CategoriaCreate">
                        <span class="bi bi-plus-circle-fill" aria-hidden="true"></span> Registrar categoría
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Categoria/CategoriaIndex">
                        <span class="bi bi-search" aria-hidden="true"></span> Consultar categoría
                    </NavLink>
                </div>

                <div class="section-title px-3 mt-3 text-white">Ventas</div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Ventas/VentasIndex">
                        <span class="bi bi-receipt-cutoff" aria-hidden="true"></span> Consultar ventas
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <!-- Cliente -->
        <AuthorizeView Roles="Cliente">
            <Authorized>
                <div class="section-title px-3 mt-3 text-white">Mi carrito</div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CarritoDeCompra">
                        <span class="bi bi-cart-fill" aria-hidden="true"></span> Carrito
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="MisComprasIndex">
                        <span class="bi bi-bag-check-fill" aria-hidden="true"></span> Compras
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <!-- Autenticación -->
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Manage">
                        <span class="bi bi-person-circle" aria-hidden="true"></span> @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-box-arrow-right" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Register">
                        <span class="bi bi-person-plus-fill" aria-hidden="true"></span> Register
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Account/Login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>


@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

